<h1>Listing graphs</h1>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Length</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @graphs.each do |graph| %>
  <tr>
    <td><%= graph.start %></td>
    <td><%= graph.end %></td>
    <td><%= graph.length %></td>
    <td><%= link_to 'Show', graph %></td>
    <td><%= link_to 'Edit', edit_graph_path(graph) %></td>
    <td><%= link_to 'Destroy', graph, :confirm => 'Are you sure?', :method => :delete %></td>
    
  </tr>
<% end %>
</table>

<%= link_to 'New Graph', new_graph_path %>

<br />
<br />

		
     


	


